
.header {
    padding-top: 2rem;
    font-family: var(--font);
}

.info {
    padding-bottom: 1.375rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-dark-grayish-blue);
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-very-dark-blue);
}

.theme-switcher > span,
.subtitle {
    color: var(--color-dark-grayish-blue);
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
}

.theme-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 69.375em) {

    .header > div {
        display: flex;
        justify-content: space-between;
    }
    
    .info {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .title {
        font-size: 1.74rem;
    }

    .subtitle {
        font-size: 0.83rem;
    }

    .theme-switcher {
        column-gap: 1rem;
    }

    .theme-switcher > span {
        color: var(--color-mid-dark-blue);
    }

}