.swing {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.swing-green {
    color: var(--color-lime-green);
}

.swing-red {
    color: var(--color-bright-red);
}