.container {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    padding: 1.5rem 2rem 1.25rem 1.5rem;
    background-color: var(--color-light-grayish-blue);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 20.375em; /* 326px */
    margin-bottom: 1rem;
    font-family: var(--font);
}

.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    color: var(--color-dark-grayish-blue);
    font-size: 0.85rem;
    font-weight: 700;
}

.quantity {
    font-weight: 700;
    font-size: 1.85rem;
    line-height: 2rem;
}

.swing {
    align-self: flex-end;
}


@media (min-width: 69.375em) {
    .container {
        max-width: 15.825em;
        margin-bottom: 1.75rem;
    }  
}